Package: com.yourrepo.blueshare
Name: BlueShare
Version: 1.2.0
Architecture: iphoneos-arm
Description: Instant Share photos, videos, and files to Android Gallery & nearby devices.
Maintainer: Sanket Yadav <sanketyadav927@gmail.com>
Author: Sanket Yadav <sanketyadav927@gmail.com>
Section: Tweaks
Depends: mobilesubstrate | ellekit
